body {
    margin: 0;
    padding: 0;
	background-color: rgb(15, 6, 56);
}

main {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}

.heading {
	color: white;
	font-weight: normal;
}

.heading span {
	font-weight: bold;
	color: #47e7ce; 
}

.select {
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;
}

.generateBtn {
	box-sizing: border-box;
	background: linear-gradient(60deg, #47e7ce 0%, #4fa8c4 100%) !important;
	font-size: 20px;
	text-transform: uppercase;
	padding: 32px 0;
	border-radius: 24px;
	letter-spacing: 1px;
	font-weight: 600;
	border: none;
	cursor: pointer;
	width: 100%;
}

.parametersSelector {
	padding: 24px;
	background-color: #291f57;
	border-radius: 24px;
	margin-bottom: 24px;
}

.selectItem {
	padding: 0;
  width: 100%;
  margin: 0;
  overflow: hidden;
  border-radius: 0px;
  background-color: transparent;
  background-image: url(../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-size: 24px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #fff;
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
margin-bottom: 24px;
}

.selectItem--select {
	  padding: 18px 0 10px 5px;
  width: calc(100% - 5px);
  margin: 0 0 5px 0;
  border: none;
  color: #fff;
  box-shadow: none;
  font-weight: 500;
  font-size: 1.4rem;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.generatedContent {
	background-color: #000000;
	padding: 24px;
	margin-top: 24px;
	border-radius: 24px;
}

.generatedContent--text {
	color: #ffffff;
	font-size: 20px;
}